module.exports = {
  oauth: {
    clientId: 'REPLACE',
    clientSecret: 'REPLACE',
    authorizationUrl: 'https://accounts.google.com/o/oauth2/v2/auth',
    tokenUrl: 'https://oauth2.googleapis.com/token',
    useBasicAuthorizationHeader: false,
    redirectUri: 'http://localhost',
  },
};